//Color
$grey: #777;
$grey-dark: #999;
$grey-dark-1: #333;

$grey-light-1:#f7f7f7;
$white: #fff;
$black: #000;
$primary: #55c57a;
$primary-light: #7ed56f;
$primary-dark: #28b485;

$red:red;

$secondary-light:#ffb900;
$secondary-dark:#ff7730;

$tertiary-light:#2998ff;
$tertiary-dark:#5643fa;

//GRID
$grid-width:124rem;
$v-gutter:8rem;
$h-gutter: 6rem;

//Font
$default-font-size : 1.7rem;
$original-font-size : 1.6rem;