.feature-box{
    background-color: rgba($white,0.8);
    font-size:1.6rem;
    padding:2.5rem;
    text-align:center;
    border-radius: 0.3rem;
    box-shadow: 0 1.5rem 4rem rgba($black,0.5);
    transition: transform 0.3s;
    &__icon{
        font-size: 7rem;
        margin-bottom: .5rem;
        display: inline-block;
        background-image: linear-gradient(to right, $light-primary, $dark-primary);
        -webkit-background-clip: text;
        color: transparent;
    }
    &__text{
        
        font-size: $original-font-size;
        font-weight: normal;
    }
    &:hover{
        transform:translateY(-1.2rem) ;
        
    }
}